@inherits LayoutComponentBase

<PageTitle>mnglabs.genomemanager.ui</PageTitle>

<div>
    <div>
        <NavMenu />
    </div>

    <main style="width:50%" class="container">


        <article>
            @Body
        </article>
    </main>
</div>

