.auto-style5[b-y8jh61dm11] {
    height: 30px;
}


.auto-style10[b-y8jh61dm11] {
    height: 30px;
    width: 600px;
}

.auto-style11[b-y8jh61dm11] {
    height: 30px;
    width: 400px;
}


.auto-style12[b-y8jh61dm11] {
    height: 26px;
}

.auto-style13[b-y8jh61dm11] {
    height: 26px;
    width: 353px;
}


.auto-style14[b-y8jh61dm11] {
    height: 88px;
}

.auto-style15[b-y8jh61dm11] {
    height: 24px;
}

.auto-style16[b-y8jh61dm11] {
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
    vertical-align: top;
}

.attachmentstyle[b-y8jh61dm11] {
    padding-right: 10px;
    text-align: left;
    vertical-align: top;
}

.auto-style17[b-y8jh61dm11] {
    padding: 5px;
    text-align: left;
    vertical-align: top;
}

.auto-style18[b-y8jh61dm11] {
    padding-top: 20px;
    text-align: left;
    vertical-align: top;
}
