@inherits LayoutComponentBase

<PageTitle>labcorp.genomemanager.ui</PageTitle>

<!--<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
-->

<cds-header aria-label="Genome Manager">
    <cds-header-menu-button button-label-active="Close menu"
                            button-label-inactive="Open menu"></cds-header-menu-button>
    <cds-header-name href="javascript:void 0" prefix="">Genome Manager</cds-header-name>
    <cds-header-nav menu-bar-label="IBM [Platform]">
        <cds-header-nav-item href="javascript:void 0">Link 1</cds-header-nav-item>
        <cds-header-nav-item href="javascript:void 0">Link 2</cds-header-nav-item>
        <cds-header-nav-item href="javascript:void 0">Link 3</cds-header-nav-item>
        <cds-header-menu menu-label="Link 4" trigger-content="Link 4">
            <cds-header-menu-item href="javascript:void 0">Sub-link 1</cds-header-menu-item>
            <cds-header-menu-item href="javascript:void 0">Sub-link 2</cds-header-menu-item>
            <cds-header-menu-item href="javascript:void 0">Sub-link 3</cds-header-menu-item>
        </cds-header-menu>
    </cds-header-nav>

</cds-header>
<cds-side-nav aria-label="Side navigation" expanded>
    <cds-side-nav-items>
        <cds-side-nav-menu title="L0 menu">
            <cds-side-nav-menu-item href="www.ibm.com">
                L0 menu item
            </cds-side-nav-menu-item>
            <cds-side-nav-menu-item href="www.ibm.com">
                L0 menu item
            </cds-side-nav-menu-item>
            <cds-side-nav-menu-item href="www.ibm.com">
                L0 menu item
            </cds-side-nav-menu-item>
        </cds-side-nav-menu>
        <cds-side-nav-menu title="L0 menu">
            <cds-side-nav-menu-item href="www.ibm.com">
                L0 menu item
            </cds-side-nav-menu-item>
            <cds-side-nav-menu-item active aria-current="page" href="www.ibm.com">
                L0 menu item
            </cds-side-nav-menu-item>
            <cds-side-nav-menu-item href="www.ibm.com">
                L0 menu item
            </cds-side-nav-menu-item>
        </cds-side-nav-menu>
        <cds-side-nav-menu title="L0 menu">
            <cds-side-nav-menu-item href="www.ibm.com">
                L0 menu item
            </cds-side-nav-menu-item>
            <cds-side-nav-menu-item href="www.ibm.com">
                L0 menu item
            </cds-side-nav-menu-item>
            <cds-side-nav-menu-item href="www.ibm.com">
                L0 menu item
            </cds-side-nav-menu-item>
        </cds-side-nav-menu>
        <cds-side-nav-divider></cds-side-nav-divider>
        <cds-side-nav-link href="javascript:void(0)">L0 link</cds-side-nav-link>
        <cds-side-nav-link href="javascript:void(0)">L0 link</cds-side-nav-link>
    </cds-side-nav-items>
</cds-side-nav>
